<!DOCTYPE html>
<html>
<head>
  <title>Mochat</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <% if @current_controller == 'room' and @current_action == 'show' %>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="refresh" content="15">
  <% end %>    
</head>
<body>


  <div id="flashes">
    <%- flash.each do |key, msg| -%>
      <div  class="flash <%= key %>">
        <%= msg %>
      </div>
    <%- end -%>
  </div> <!-- #flashes -->

  <%= yield %>

</body>
</html>
